.clients-block
	@extend $mainContainer
	@extend $blocksPadding
	position relative
	&:after
		@extend $clearBoth

	h2
		margin-bottom 40px

	.clients-block__feedback,
	.clients-block__group
		float left
		width 50%

	.group__logo-container
		position relative
		&:after
			@extend $clearBoth

	.logo
		float left
		sizeElement(34%, 70px)
		max-width 162px
		@extend $centerText
		margin-bottom 18px
		&:nth-child(odd)
			margin-right 15%

	img
		sizeElement(100%, auto)
		max-height 70px

	.feedback__form
		input, textarea
			width 80%
			padding 0 20px
			color $grayLight
			border 1px solid #e5e5e5
			margin-bottom 20px
			&::placeholder
				color $grayLight
			&.error
				border-color $red

		input
			height $inputHeight
			line-height $inputHeight
			text-overflow ellipsis

		textarea
			height 200px
			resize none
			padding-top 15px
			font-family "Roboto-Light"

		.form__submit
			@extend $accentLink
			cursor pointer

	.form-group
		position relative

	label.error
		position absolute
		left 0
		bottom 0
		color $red
		font-size: 12px;

	.form-group_textarea
		label.error
			bottom 8px