.comments-block
	position relative
	background-image url('../images/raster/backgrounds/image-04.jpg')
	@extend $backgroundPosition
	@extend $blocksPadding
	&:after
		@extend $purpleShadow

	.carousel-container
		@extend $mainContainer
		position relative
		z-index 2

	.carousel-commentators
		width 340px
		padding 0 15px
		@extend $centerElementMargin

	.carousel-commentators__slide
		@extend $transitionSlow
		&.slick-center
			transform scale(1.35)

	.slide
		sizeElement(50px, 50px)
		background-color $grayLight
		border-radius 50%
		margin 0 auto
		background-image url('../images/vector/user.svg')

	.slick-list
		padding 20px 0 !important

	.slick-arrow
		font-size 0
		sizeElement(10px, 20px)
		background-size 100%
		background-repeat no-repeat
		background-color transparent
		position absolute
		@extend $centerElementY
		top 50%
		cursor pointer

	.slick-prev
		background-image url('../images/raster/arrow_prev.png')
		left 0

	.slick-next
		background-image url('../images/raster/arrow_next.png')
		right 0
