.comment-block
	color $white
	@extend $centerText

	.comment-block__message
		max-width 785px
		@extend $centerElementMargin
		padding-top 70px
		position relative
		&:after
			content '❝'
			display block
			position absolute
			top 0
			left 50%
			@extend $centerElementX
			@extend $hugeFontSize
			line-height 1

	.comment-block__author
		@extend $robotoBlack
		margin 50px 0 5px 0

	.comment-block__author-activity
		color rgba(255, 255, 255, .7)

	.comment-block__author,
	.comment-block__author-activity
		text-transform uppercase