.menu-overlay
	position fixed
	top 0
	right 0
	sizeElement(50vw, 100%)
	background-color $purpleShadow
	z-index 100
	transform translateX(100%)
	@extend $transitionSlow
	&.open
		transform translateX(0%)

	.link-container
		display inline-block
		@extend $absoluteElementPosition
		@extend $centerElement
		@extend $centerText

	.navigation__link
		@extend $textUppercase
		@extend $robotoBlack
		@extend $bigFontSize
		@extend $transitionDefault
		&.active,
		&:hover
			color $accentColor

	.menu-overlay__close
		@extend $closeBtn
