.preview-block
	@extend $centerText
	padding-bottom 30px
	border 1px solid $whiteSemi

	.preview-block__img
		sizeElement(100%, 230px)
		margin-bottom 20px
		background-color $white

	.preview-block__caption
		color $white
		margin-bottom 10px

	.preview-block__description
		color rgba(255, 255, 255, .7)

	.preview-block__caption,
	.preview-block__description
		text-transform uppercase

