.short-description-block
	@extend $centerText

	.short-description-block__img,
	.short-description-block__caption
		margin-bottom 20px

	.short-description-block__caption
		@extend $robotoBlack
		text-transform uppercase
		color $blackPurple

	.short-description-block__text
		color $grayAnother
		margin-bottom 40px
		padding 0 10px