.team-block
	@extend $backgroundPosition
	background-image url(../images/raster/backgrounds/image-03.jpg)
	position relative
	&:before
		@extend $purpleShadow
		z-index 1
	&.animate
		.preview-block
			animation rotateY 1s 1 forwards

	.team-block-container
		@extend $mainContainer
		@extend $blocksPadding
		@extend $centerText
		position relative
		z-index 2

	.team-block__caption,
	.team-block__description
		color $white

	.team-block__description
		margin-bottom 70px
		position relative
		&:after
			@extend $smallDivider
			background-color $whiteOpacity
			bottom -10px

	.team-block__preview
		margin-bottom 70px
		&:after
			@extend $clearBoth

	.preview-block
		float left
		width 23%
		backface-visibility visible
		opacity 0
		&:not(:last-child)
			margin-right 1%

		for block in 1 2 3 4
			&:nth-child({block}) .preview-block__img
				background-image url('../images/raster/team-photos/photo-0' + block + '.jpg')
			&:nth-child({block})
				animation-delay 0.5s * block

	.preview-block__img
		@extend $backgroundPosition
		border-bottom 1px solid $whiteSemi

	.team-block__paragraph
		margin-bottom 25px
		color $white

	.team-block__link
		@extend $accentLink
