-
	var headerLinks = [
		{
			linkContent: 'home',
			linkAnchor: '#home'
		},
		{
			linkContent: 'about',
			linkAnchor: '#about'
		},
		{
			linkContent: 'expertise',
			linkAnchor: '#expertise'
		},
		{
			linkContent: 'teams',
			linkAnchor: '#teams'
		},
		{
			linkContent: 'works',
			linkAnchor: '#works'
		},
		{
			linkContent: 'people say',
			linkAnchor: '#comments'
		},
		{
			linkContent: 'contact',
			linkAnchor: '#contact'
		}
	]

-
	var carouselSlides = [
		{
			caption: 'We Are Awesome Creative Agency',
			description: 'The general rendering process of Pug is simple. pug.compile() will compile the Pug source code into a JavaScript function that takes a data object (called “locals”) as an argument. Call that resultant function with your data, and voilà!, it will return a string of HTML rendered with your data.',
			link: 'Learn more'
		},
		{
			caption: 'We Are Awesome Creative Agency2',
			description: 'The general rendering process of Pug is simple. pug.compile() will compile the Pug source code into a JavaScript function that takes a data object (called “locals”) as an argument. Call that resultant function with your data, and voilà!, it will return a string of HTML rendered with your data.',
			link: 'Learn more'
		},
		{
			caption: 'We Are Awesome Creative Agency3',
			description: 'The general rendering process of Pug is simple. pug.compile() will compile the Pug source code into a JavaScript function that takes a data object (called “locals”) as an argument. Call that resultant function with your data, and voilà!, it will return a string of HTML rendered with your data.',
			link: 'Learn more'
		},
		{
			caption: 'We Are Awesome Creative Agency4',
			description: 'The general rendering process of Pug is simple. pug.compile() will compile the Pug source code into a JavaScript function that takes a data object (called “locals”) as an argument. Call that resultant function with your data, and voilà!, it will return a string of HTML rendered with your data.',
			link: 'Learn more'
		}
	]

-
	var shortDescriptionItems = [
		{
			caption: 'WEB DESIGN & DEVELOPMENT',
			description: 'This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean'
		},
		{
			caption: 'BRANDING IDENTITY',
			description: 'This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean'
		},
		{
			caption: 'MOBILE APP',
			description: 'This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean'
		},
		{
			caption: 'SEARCH ENGINE OPTIMIZATION',
			description: 'This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean'
		},
		{
			caption: 'GAME DEVELOPMENT',
			description: 'This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean'
		},
		{
			caption: 'MADE WITH LOVE',
			description: 'This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean'
		}
	]