-
	var headerLinks = [
		{
			linkContent: 'home',
			linkClass: 'active',
			linkAnchor: '#home'
		},
		{
			linkContent: 'about',
			linkAnchor: '#about'
		},
		{
			linkContent: 'expertise',
			linkAnchor: '#expertise'
		},
		{
			linkContent: 'teams',
			linkAnchor: '#teams'
		},
		{
			linkContent: 'works',
			linkAnchor: '#works'
		},
		{
			linkContent: 'people say',
			linkAnchor: '#comments'
		},
		{
			linkContent: 'contact',
			linkAnchor: '#contact'
		}
	]

-
	var carouselSlides = [
		{
			caption: 'We Are Awesome Creative Agency',
			description: 'The general rendering process of Pug is simple. pug.compile() will compile the Pug source code into a JavaScript function that takes a data object (called “locals”) as an argument. Call that resultant function with your data, and voilà!, it will return a string of HTML rendered with your data.',
			link: 'Learn more'
		},
		{
			caption: 'We Are Awesome Creative Agency2',
			description: 'The general rendering process of Pug is simple. pug.compile() will compile the Pug source code into a JavaScript function that takes a data object (called “locals”) as an argument. Call that resultant function with your data, and voilà!, it will return a string of HTML rendered with your data.',
			link: 'Learn more'
		},
		{
			caption: 'We Are Awesome Creative Agency3',
			description: 'The general rendering process of Pug is simple. pug.compile() will compile the Pug source code into a JavaScript function that takes a data object (called “locals”) as an argument. Call that resultant function with your data, and voilà!, it will return a string of HTML rendered with your data.',
			link: 'Learn more'
		},
		{
			caption: 'We Are Awesome Creative Agency4',
			description: 'The general rendering process of Pug is simple. pug.compile() will compile the Pug source code into a JavaScript function that takes a data object (called “locals”) as an argument. Call that resultant function with your data, and voilà!, it will return a string of HTML rendered with your data.',
			link: 'Learn more'
		}
	]

-
	var shortDescriptionItems = [
		{
			caption: 'WEB DESIGN & DEVELOPMENT',
			description: 'This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean'
		},
		{
			caption: 'BRANDING IDENTITY',
			description: 'This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean'
		},
		{
			caption: 'MOBILE APP',
			description: 'This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean'
		},
		{
			caption: 'SEARCH ENGINE OPTIMIZATION',
			description: 'This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean'
		},
		{
			caption: 'GAME DEVELOPMENT',
			description: 'This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean'
		},
		{
			caption: 'MADE WITH LOVE',
			description: 'This is Photoshops version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean'
		}
	]

-
	var previewBlockItems = [
		{
			caption: 'SEMF UCUK',
			description: 'CEO & FOUNDER'
		},
		{
			caption: 'DIK ADALIN',
			description: 'ENGINEERING'
		},
		{
			caption: 'JENG KOL',
			description: 'DESIGNER'
		},
		{
			caption: 'PET ROMAK',
			description: 'MARKETING'
		}
	]

-
	var workLinks = [
		{
			href: '/'
		},
		{
			href: '/'
		},
		{
			href: '/'
		},
		{
			href: '/'
		},
		{
			href: '/'
		},
		{
			href: '/'
		},
		{
			href: '/'
		},
		{
			href: '/'
		},
		{
			href: '/'
		},
		{
			href: '/'
		}
	]

-
	var commentBlocks = [
		{
			message: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.' +
			'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book, when an unknown printer took',
			author: 'JANE GALADRIEL',
			authorActivity: 'CEO TENGKUREP'
		},
		{
			message: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.' +
			'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
			author: 'John Smith',
			authorActivity: 'ENGINEERING'
		},
		{
			message: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.' +
			'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book, when an unknown printer took',
			author: 'Anna Hall',
			authorActivity: 'DESIGNER'
		},
		{
			message: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.' +
			'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
			author: 'Kelly Collins',
			authorActivity: 'CEO & FOUNDER'
		},
		{
			message: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.' +
			'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book, when an unknown printer took',
			author: 'Alexander Diaz',
			authorActivity: 'MARKETING'
		},
		{
			message: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.' +
			'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
			author: 'Alexander Diaz',
			authorActivity: 'MARKETING'
		},
		{
			message: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.' +
			'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book, when an unknown printer took',
			author: 'Alexander Diaz',
			authorActivity: 'MARKETING'
		},
		{
			message: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.' +
			'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type.',
			author: 'Alexander Diaz',
			authorActivity: 'MARKETING'
		}
	]

-
	var footerLinks = [
		{
			linkContent: 'help',
			linkHref: '/'
		},
		{
			linkContent: 'TERMS & CONDITION',
			linkHref: '/'
		},
		{
			linkContent: 'PRIVACY',
			linkHref: '/'
		}
	]

-
	var socialLinks = [
		{
			linkHref: '/',
			imageId: 'facebook',
			imageIdHover: 'facebook-purple'
		},
		{
			linkHref: '/',
			imageId: 'instagram',
			imageIdHover: 'instagram-purple'
		},
		{
			linkHref: '/',
			imageId: 'twitter',
			imageIdHover: 'twitter-purple'
		},
		{
			linkHref: '/',
			imageId: 'google-plus',
			imageIdHover: 'google-plus-purple'
		}
	]
