include ../blocks/data.pug

section.header-container
	header.header
		a(href="/").header__logo
			img(src="./assets/images/logo-main.png" alt="")
		nav.header__navigation
			for link in headerLinks
				a.navigation__link(href=link.linkAnchor) #{link.linkContent}

		.header__menu-icon
			.menu-icon__line