mixin short-description-block(item)
	.short-description-block
		.short-description-block__img
		h3.short-description-block__caption #{item.caption}
		p.short-description-block__text #{item.description}