*
	box-sizing border-box
	margin 0
	padding 0
	outline none
	border none
	list-style-type none

body
	font-family "Roboto-Light"
	@extend $defaultFontSize
	background-color $white
	line-height 1.7
	color $gray

a
	color $white
	@extend $transitionDefault
	text-decoration none

	&:hover,
	&:active
		color $accentColor

h1
	text-transform capitalize
	@extend $playfairBlack
	@extend $biggerFontSize
	color $white

h2
	color $blackPurple
	@extend $playfairRegular
	font-weight bold
	@extend $bigFontSize
	text-transform uppercase
