fontFace(font-folder, font-subfolder, font-name)
	font-family font-subfolder
	src url("../fonts/" + font-folder + "/" + font-subfolder + "/" + font-name +  ".eot"),
		url("../fonts/" + font-folder + "/" + font-subfolder + "/" + font-name + ".eot?#iefix") format("embedded-opentype"),
		url("../fonts/" + font-folder + "/" + font-subfolder + "/" + font-name + ".ttf") format("truetype"),
		url("../fonts/" + font-folder + "/" + font-subfolder + "/" + font-name + ".woff") format("woff"),
		url("../fonts/" + font-folder + "/" + font-subfolder + "/" + font-name + ".svg#JournalRegular") format("svg");
	font-weight normal
	font-style normal


@font-face
	fontFace("Roboto", "Roboto-Black", "roboto-black")

@font-face
	fontFace("Roboto", "Roboto-Light", "roboto-light")

@font-face
	fontFace("Playfair-Display", "Playfair-Display-Regular", "playfair-display-regular")

@font-face
	fontFace("Playfair-Display", "Playfair-Display-Black", "playfair-display-black")

@font-face
	fontFace("Hammersmith-One", "Hammersmith-One-Regular", "hammersmith-one-regular")