$accentColor = #00e0d0
$purple = #322955
$purpleShadow = rgb(62, 52, 97, .8)
$white = #fff
$fullBlack = #000
$blackPurple = #413d4b
$gray = #716e78
$grayAnother = #666666
$grayLight = #a09ea5

$mainContainer
	width 60.6vw
	max-width 970px
	padding 0 15px
	margin 0 auto
	@media screen and (max-width: 992px)
		width: 76vw
	@media screen and (max-width: 767px)
		width 100%

$fontWeight
	font-wheight bold

$mainButton
	border 1px solid $accentColor
	color $accentColor
	text-transform uppercase
	font-family "Hammersmith-One-Regular"
	font-size 16px
	padding 10px 15px 8.5px 15px
	background-color transparent

$transitionDefault
	transition all .3s;
