.about-block
	@media screen and (max-width: 991px)
		.story-container__img
			img
				width 200px

	@media screen and (max-width: 767px)
		.story-container__description
			width 100%

		.story-container__img
			width auto
			position absolute
			top 15px
			right 10px

			img
				width 76px