.expertise-block
	@media screen and (max-width: 767px)
		.short-description-block
			width 100%
			max-height none
			border-right none !important
			&:not(:last-child)
				border-bottom 1px solid $grayVeryLight

		.expertise-block__description
			margin-bottom 35px