.home-block
	@media screen and (min-width: 768px)
		@media screen and (max-height: 670px)
			min-height 660px
			&:after
				min-height 660px

	@media screen and (max-width: 767px)
		.carousel-block
			padding-top 17vh

		.slick-dots
			margin-top 30px