.team-block
	@media screen and (max-width: 767px)
		.preview-block
			width 49%
			margin-bottom 2%
			&:not(:last-child)
				margin-right 0
			&:nth-child(odd)
				margin-right 2%

		.preview-block__img
			height 200px